<ion-view view-title="My Snaps' !">
  <ion-content>
    <ion-refresher
    pulling-text="Refresh..."
    on-refresh="init()" ng-hide="isViewingSnap">
  </ion-refresher>

  <div ng-show="isViewingSnap">
    <div class="countdown">
      {{ remaining }}
    </div>
    <div class="get-snap-holder"></div>
  </div>

  <div class="list" ng-show="isListingSnaps">
      <ion-item collection-repeat="snap in snaps">
        <p ng-click="viewSnap(snap)">{{ snap.id_sender}}</p>
    </ion-item>
  </div>

  </ion-content>
</ion-view>
