<ion-view view-title="My Snaps' !">
  <ion-content>
    <ion-refresher
    pulling-text="Refresh..."
    on-refresh="init()" ng-hide="isViewingSnap"
    ng-if="!isViewingSnap">
  </ion-refresher>

  <div ng-show="isViewingSnap">
    <div class="countdown">
      {{ remaining }}
    </div>
    <div class="get-snap-holder" on-touch="markAsViewed(snap.id_snap)"></div>
  </div>

  <div class="list" ng-show="isListingSnaps">
      <ion-item collection-repeat="snap in snaps" ng-click="viewSnap(snap)">
        <p>{{ snap.id_sender}}</p>
    </ion-item>
  </div>

  </ion-content>
</ion-view>
