<ion-view hide-nav-bar="true">
      <ion-content class="index-back">
        <div class="boo-holder"
          on-swipe-up="konaSwipe('U')"
          on-swipe-down="konaSwipe('D')"
          on-swipe-left="konaSwipe('L')"
          on-swipe-right="konaSwipe('R')"
        >
            <img class="index-boo" src="img/boo.png" alt="Boo !" />
        </div>
      </ion-content>
        <div class="index-bottom">
          <a class="button button-block button-assertive login" ng-click="login()">
             Login
          </a>
          <a class="button button-block button-calm register" ng-click="register()">
             Register
          </a>
        </div>
</ion-view>