<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <form novalidate class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        <ion-checkbox ng-model="user.rememberMe">Remember me ?</ion-checkbox>
        </form>
            <button class="button button-block button-positive" ng-click="login(user)">Login</button>
    </ion-content>
</ion-view>