/* Empty. Add your own CSS if you like */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.send-snap-img, .get-snap-img {
    width: 100%;
}

.index-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.index-bottom .button {
    margin: 0;
    border-radius: 0;
    min-height: 65px;
    line-height: 65px;
    font-size: 2em;
}
.index-back {
    background-color: yellow;
}
.index-back .scroll {
    display: table !important;
    width: 100% !important;
    height: 80% !important;
}
.boo-holder {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.boo-holder img {
    width: 70%;
}

.send-snap-footer-bar {
    padding: 0;
}
.send-snap-footer-bar .button-bar .button {
    font-size: 1.5em;
    line-height: 2.2em;
}
.send-snap-holder {
    padding: 0;
}

.countdown {
    position: absolute;
    color: white;
    padding: 25px;
    background-color: rgba(0,0,0,0.50);
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
    right: 20px;
    top: 20px;
}

.boo-left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.boo-up {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.boo-down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.boo-prepared {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    z-index: 99;
}

.nyancats {
    position: absolute;
    width: 82px;
    height: 50px;
    background-image: url('../img/nyancat.png');
}

.clock {
    position: absolute;
    top: 2%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -2%);
    font-size: 2em;
}

.clock::before {
    content: 'Score : ';
}

.perdu {
    position: absolute;
    top: 6%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -6%);
    font-size: 2em;
}

.bounce {
     animation: bounce 0.30s ease 2 alternate;
}

@keyframes bounce{
     from {transform: scale(1);}
     to   {transform: scale(1.25);}
}